{% extends "_base.html" %}

{% load static %}

{% block content %}

<div class="text-center">
<h3>Listagem geral de autores</h3> <br>
</div>

<a href="create/" class="btn btn-sm btn-primary">Adicionar Autor</a> <br><br>

    <div>
        <table style="width: 85%;">
            <thead>
                <tr>
                    <th> Nome </th>
                    <th> Nacionalidade </th>
                    {% if perms.autor.detail_autor %}<th> Detalhe </th>{% endif %}
                    {% if perms.autor.change_autor %}<th> Atualizar </th>{% endif %}
                    {% if perms.autor.delete_autor %}<th> Deletar </th>{% endif %}
                </tr>
            </thead>
            <tbody>
                {% for autor in autores %}
                <tr>
                    <td> {{ autor.nome }} </td>
                    <td> {{ autor.nacionalidade }} </td>
                    {% if perms.autor.detail_autor %}
                    <td><a href="/autor/{{autor.id}}"> Detalhe</a></td>
                    {% endif %}
                    {% if perms.autor.change_autor %}
                    <td><a href="/autor/update/{{autor.id}}"> Atualizar</a></td>
                    {% endif %}
                    {% if perms.autor.delete_autor %}
                    <td><a href="/autor/delete/{{autor.id}}"> Deletar</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}