{% extends "_base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="card-title text-primary mb-4">{{ livro.nome }}</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Autor:</strong> {{ livro.autor }}</li>
                <li class="list-group-item"><strong>Categoria:</strong> {{ livro.categoria }}</li>
                <li class="list-group-item"><strong>ISBN:</strong> {{ livro.isbn }}</li>
                <li class="list-group-item"><strong>Editora:</strong> {{ livro.editora }}</li>
                <li class="list-group-item"><strong>Ano de Publicação:</strong> {{ livro.ano_publicacao }}</li>
                <li class="list-group-item"><strong>Quantidade:</strong> {{ livro.quantidade }}</li>
            </ul>

            <div class="mt-4">
               <br> <br> <a href="/livro/" class="btn btn-secondary">Voltar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
